@import "tailwindcss";

:root {
  --color-primary: #C67C48;
  --color-secondary: #D99A68;
  --color-accent: #E0B251;
  --color-accent-2: #F3E1A3;
  --color-accent-3: #A6BBA1;
  --color-light: #F8F5F1;
  --color-dark: #3E3E3E;
}

body {
  background: var(--color-background);
  color: var(--color-primary);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
